@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./assets/fonts/Lato-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black.ttf');
    font-weight: 900;
}

html{
    font-size: 10px;
}
body{
    font-size: 1.8rem;
    font-family: "Lato", Verdana, sans-serif;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
}
h2{
    font-family: "Lato-Black", Verdana, sans-serif;
    font-size: 3rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    font-style: normal;
}
h3{
    font-size: 1.8rem;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}
p{
    padding-top: 2px;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: "Lato";
}
.wrapper {
    max-width: 1020px;
    margin: auto;
}
.portfolio_wrapper{
    /* width: 1020px; */
    height: 870px;
    background-color: #2d303a;
}
.portfolio_content{
    padding: 44px 0 0 39px;
}
.nav{
    width: 30%;
}
ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    content: flex frog;
    justify-content: space-between;
}
li{
    border: 1px solid;
    padding: 3px;
}
.navbar ul {
    display: flex;
    width: 300px;
    margin-left: 0px;
}

.navbar ul li p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Lato";
    border: 1px solid #666d89;
    margin-top: 17px;
    margin-left: -1px;
    margin-right: 0;
    margin-bottom: 3px;
    border-radius: 5px;
    color: #767e9e;
}